{% import '_includes/macros' as macros %}

{% for block in entry.body.all() %}

	{% switch block.type %}

		{% case "heading" %}

			<h{{ block.hx }} id="{{ block.heading|kebab }}">{{ block.heading|trim }}</h{{ block.hx }}>

		{% case "text" %}

			<div class="typeset">
				{{ block.text|trim }}
			</div>

		{% case "blockquote" %}

			<blockquote>
				<p>{{ block.quote|trim }}</p>
			</blockquote>

		{% case "image" %}

			{{ macros.img(block.image.one()) }}

	{% endswitch %}

{% endfor %}
