{% import "_includes/macros" as macros %}

{% for block in entry.body.all() %}

	{% switch block.type %}

		{% case "heading" %}

			{% set level = attribute({
				1: { tag: 'h2', class: 'h2 u-mb-200' },
				2: { tag: 'h3', class: 'h3 u-mb-200' },
				3: { tag: 'h4', class: 'h4 u-mb-200' },
			}, block.hx.value ?? 1) %}

			{{ tag(level.tag, {
				class: level.class,
				text: block.heading,
				id: block.heading|kebab,
			}) }}

		{% case "text" %}

			<div class="typeset">
				{{ block.text }}
			</div>

		{% case "blockquote" %}

			<div class="l-container-text u-mb-300">
				<blockquote class="c-article__quote">
					<h3 class="h3 u-mb-100">{{ block.quote }}</h3>
					<p>{{ block.citation }}</p>
				</blockquote>
			</div>

		{% case "images" %}

			{% switch block.images|length %}

				{% case 1 %}

					<div class="l-container-text">
						{% set image = block.images[0] %}
						<div class="l-longform-landscape u-mb-300">
							{{ macros.image(image ?? null, {
									alt: image.alt ?? null,
									widths: [ 340, 600, 720, 900 ],
									width: 1000,
								}) }}
						</div>
					</div>

				{% default %}

					<div class="l-container-text">
						<div class="l-longform-double">
							{% for asset in block.images %}
								<div class="l-longform-double__item u-mb-300">
									{{ macros.image(asset ?? null, {
										ratio: 1 / 1,
										alt: image.alt ?? null,
										widths: [ 340, 600, 720 ],
										width: 800,
									}) }}
								</div>
							{% endfor %}
						</div>
					</div>

			{% endswitch %}


	{% endswitch %}

{% endfor %}
