{% import "_includes/macros" as macros %}

{% if entry is not defined %}
	{% exit 404 %}
{% endif %}

{% extends "_layouts/standard" %}

{% paginate craft.entries({ section: 'blogListing', limit: 12 }) as pageInfo, entries %}

	{% block content %}
		<main id="content">
			<section class="l-site-container">
				<div class="l-grid">
					{% for entry in entries %}
						<div class="l-grid-item o-faux">
							{% set image = entry.teaserImage.one() %}
							<div class="c-list__image">
								{{ macros.image(image ?? null, {
									ratio: 1 / 1,
									alt: image.alt ?? null,
									widths: [ 340, 600, 720 ],
									width: 800,
								}) }}
							</div>

							<div class="c-wavy__wrapper">
								<a class="h3 c-list__title o-faux__link" href="{{ entry.url }}">
									<span class="c-wavy__title">{{ entry.title }}</span>
									<span class="c-wavy"></span>
								</a>
							</div>

							<h3 class="h5 c-bloglist__text u-mb-100">{{ entry.bookTitle }}</h3>
							<h3 class="h6 c-bloglist__text u-mb-100">{{ entry.authorName }}</h3>

							<h4 class="h6 c-bloglist__text">{{ entry.teaserText }}</h4>
						</div>
					{% else %}
						<p>No entries found.</p>
					{% endfor %}
				</div>
				{% include '_includes/components/pagination' with { pageInfo: pageInfo } %}
			</section>
		</main>
	{% endblock %}
